html, body {
    display: block;
    margin: 0 auto;
    padding: 0;
}
#main{
    display: flex;
   flex-direction: column;
  align-items: center;
    
    
}

.top{
  
    box-sizing: border-box;
display: flex;
flex-direction: row;
justify-content: space-between;

width: 375px;
height: 67px;


background: #FFFFFF;
border-bottom: 1px solid #C6C6C6;
}
.instagram-logo{
    align-items: center;
 margin-top: 15px;
    Width:127px;
height: 40px;
padding-left: 15px;
  

}
.user{ 
width: 34px;
height: 34px;
margin-top: 15px;
margin-right: 10px;
border-radius: 50%;

background: url("images/new1.jpg"); 
background-size: cover;
}

.post-content-1{
    

width: 375px;
height: 545px;
margin-left: 0px;


background: #FFFFFF;
}

.user-info{
    

width: 348px;
height: 34px;
margin-left: 10px;
margin-top: 20px;

}

#post-1-dp{
    float:left;
    width: 34px;
height: 34px;

margin-right: 10px;
border-radius: 50%;


background-size: cover;
}
#fname{
    width: 257px;
    height:16px;
 
    font-family: Source Sans Pro;
font-size: 13px;
font-weight: 700;
line-height: 16px;
letter-spacing: 0em;
text-align: left;
color: #000000;
}
#location{
     width: 257px;
    height:15px;
 font-family: Source Sans Pro;
font-size: 12px;
font-weight: 400;
line-height: 15px;
letter-spacing: 0em;
text-align: left;

}
.info{
    float: left;
     width: 257px;
    height:31px;
    
}
#post-1,.post-1{
    width: 375px;
    height: 375px;
   
    margin-top: 5px;
}
#react{

width: 104.34px;
height: 22.13px;
margin-left: 10px;
margin-top: 5px;
top: 451px; 
}
.react-icon{
    width: 22px;
    height: 22px;
}

.likes{
   
width: 343px;
height: 16px;
margin-left: 13px;
margin-top: 2px;

font-family: 'Source Sans Pro';
font-style: normal;
font-weight: 700;
font-size: 13px;
line-height: 16px;

color: #000000;

}
#caption{
    font-family: Source Sans Pro;
font-size: 13px;
font-weight: 400;
line-height: 16px;
letter-spacing: 0em;
text-align: left;




width: 343px;
height: 16px;
margin-left: 13px;


font-family: 'Source Sans Pro';
font-style: normal;

color: #000000;

}
strong{
   font-weight: bold;
   font-weight: 800;
}
.posting{
   color: red;
}